.control-volume {
  margin: 0 50px;
  position: relative;

  &::before {
    content: "min";
    position: absolute;
    top: 25%;
    left: -30px;
  }
  &::after {
    content: "max";
    position: absolute;
    top: 25%;
    right: -30px;
  }
}
